@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* root style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-primary: #fff;
  --text-secondary: #E2B887;
  --text-sec-hover: #FBDDBB;
  --text-main: rgba(255, 255, 255, 0.87);

  --bg-main: #00302E;
  --bg-footer: #0B0D17;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.logo-img {
  height: 4.19rem;
  width: 3.6rem;
  margin-left: 4rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.logo-name {
  font-size: 2.25rem;
  font-weight: 700;
  position: relative;
  top: 1rem;
}

.navlinks {
  margin-right: 5rem;
}

.navlinks ul {
  display: flex;
}

.navlinks ul li {
  margin-right: 1.5rem;
  position: relative;
}

.navlinks ul li.home-btn {
  color: var(--text-secondary);
}

.navlinks ul li.signUp-btn {
  background-color: var(--text-secondary);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--bg-main);
  font-weight: 600;
  cursor: pointer;
}

.navlinks ul li:nth-child(-n+2) a {
  position: relative;
  top: 0.6rem;
}

.navlinks ul li::before {
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--text-secondary);
  transition: all .3s ease-in-out;
}

.navlinks ul li:nth-child(-n+2):hover::before {
  width: 100%;
}

.navlinks ul li:last-child:hover {
  background-color: var(--text-sec-hover);
} */

/* hero
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 7rem;
}

.hero-content {
  text-align: left;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.3;
  padding-bottom: 1.5rem;
}

.hero-content h1 span {
  color: var(--text-secondary);
}

.hero-content .intro {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 1.5rem;
}

.btn-container {
  display: flex;
}

.btn-container small {
  font-size: 0.5rem;
  margin-bottom: 0;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: var(--bg-footer);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
  cursor: pointer;
}

.apple-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-footer);
  border-radius: 5px;
  padding: 0.2rem 1rem;
  border: 1px solid white;
  cursor: pointer;
}

.google-img,
.apple-img {
  padding-right: 0.3rem;
} */